<!-- PLAIN - TEXTAREA -->
<div class="form-group richtmpl tmpl-plain" data-type="text">
	<textarea class="form-control elem resize" placeholder="{{:placeholder}}" onkeyup="$(this).resizeText(); resetinputError(this);" onpaste="$(this).resizeText()" style="height: 48px;">{{:text}}</textarea>
</div>