<!-- INVALID -->
<div class="form-group richtmpl tmpl-invalid" data-type="invalid">
	<input type="hidden" class="elem" value="{{>data}}"/>
	<div class="richtmpl-del">	
		<button type="button" class="btn btn-sm" onclick="javascript:richitem.remove(this);"><i class="fa fa-times fa-fw" aria-hidden="true"></i></button>
	</div>
</div>